In [1]:
import pandas as pd

In [2]:
# Store filepath in a variable
ltc_file = "../Project/Resources/Raw_Data/Long_Term_Care_Homes_Vaccination_Rate.csv"

In [15]:
# Read the Data file with the pandas library
ltc_df = pd.read_csv(ltc_file)

ltc_df.head()

,Date_Collected,LTC_Home,LTC_Home_Number,City,PHU,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
0,8/31/2021,Algoma Manor Nursing Home,3041,Thessalon,ALGOMA,0.92,0.91
1,8/31/2021,Cedarwood Lodge,7093,Sault Ste. Marie,ALGOMA,0.95,0.95
2,8/31/2021,Extendicare Maple View of Sault Ste. Marie,3043,Sault Ste. Marie,ALGOMA,0.74,0.68
3,8/31/2021,Extendicare Van Daele,2609,Sault Ste. Marie,ALGOMA,0.90,0.88
4,8/31/2021,F. J. Davey Home,2936,Sault Ste. Marie,ALGOMA,0.87,0.74

In [19]:
#Drop Duplicates in LTC Home and keep the "Last Date Collected Data"

dropped_df = ltc_df.drop_duplicates(subset='LTC_Home', keep="last")

dropped_df.head()

,Date_Collected,LTC_Home,LTC_Home_Number,City,PHU,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
62,8/31/2021,Brucelea Haven Long Term Care,M507,Walkerton,GREY-BRUCE,0.80,0.76
141,8/31/2021,Macassa Lodge,M552,Hamilton,HAMILTON,0.91,0.86
531,8/31/2021,Vermont Square,2575,Toronto,TORONTO,0.94,0.91
917,9/30/2021,Birchwood Terrace,2620,Kenora,NORTHWESTERN,0.95,0.91
1317,10/31/2021,Gateway Haven Long Term Care Home,M526,Wiarton,GREY-BRUCE,0.95,0.91

In [20]:
#Organize the df by keeping the required columns

organized_df = dropped_df[['City', '1st_dose_percentage_staff_vaccination_rate', '2nd_dose_percentage_staff_vaccination_rate']]

organized_df.head()

,City,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
62,Walkerton,0.80,0.76
141,Hamilton,0.91,0.86
531,Toronto,0.94,0.91
917,Kenora,0.95,0.91
1317,Wiarton,0.95,0.91

In [21]:
#Group by Cities and get the average 
grouped_df = organized_df.groupby(['City']).mean()

grouped_df.head()

,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
City,,
Ailsa Craig,0.98,0.98
Ajax,1.00,1.00
Akwesasne,0.98,0.98
Alexandria,1.00,1.00
Alliston,1.00,1.00

In [22]:
#Sort by highest 2nd vaccination rate

grouped_df.sort_values(['2nd_dose_percentage_staff_vaccination_rate'], ascending=False)

,1st_dose_percentage_staff_vaccination_rate,2nd_dose_percentage_staff_vaccination_rate
City,,
Zurich,1.000,1.00
Long Sault,1.000,1.00
Manitouwadge,1.000,1.00
Maple,1.000,1.00
Markdale,1.000,1.00
...,...,...
Wiarton,0.975,0.95
Fergus,1.000,0.94
Barry's Bay,0.960,0.93
Walkerton,0.900,0.88
Puslinch,1.000,0.86

In [23]:
#Save the final copy to CSV

grouped_df.to_csv("../Project/Resources/Cleaned_Data/LTC_Staff_Vaccination_Rate.csv")